html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.nav {
    width: 100vw;
    position: fixed!important;
    z-index: 11!important;
}
.form-control {
    width: 79%!important;
    border-radius: 4rem!important;
}

/* Dropdown */
.dropdown-submenu {
    position: relative;
  }
  
  .dropdown-submenu a::after {
    transform: rotate(-90deg);
    position: absolute;
    right: 6px;
    top: .8em;
  }
  
  .dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-left: .1rem;
    margin-right: .1rem;
  }

  .nav-link {
      color: white !important;
  }

  .navbarTogglerDemo01 {
      width: 20%;
  }


#containerMap{
    height: 100vh;
}

#map {
    height: 100%;
    position: fixed;
}

#loadCalculator{
    height: 20vh;
}

/* Yael */
.target{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 70vw;
    height: 30vh;
    justify-content: center;
    position: relative;
    float: top;
    z-index: 10;
}

.container{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
    width: 70vw;
    height: 30vh;
    border-radius: 15px;
    position: relative;
    top: -60vh;
}

    .title{
        box-sizing: border-box;
        display: flex;
        width: 100%;
        height: 20%;
        justify-content: space-between;       
        border-radius: 15px;
        background-color: #828282;
        color: #ffffff;
        justify-content: center;
        align-items: center;
    }
    .container_date{
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        height: 80%;
        border-radius: 15px;
        text-align: center;
    }
        .date-marca{
            box-sizing: border-box;
            width: 100%;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: solid 1px black;
        }
        .date{
            box-sizing: border-box;
            margin:0;
            padding: 1px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 65px;
            height: 65px;
            border: solid 2px #C4C4C4;
            border-radius: 10px;;
            text-align: center;
            font-size: .7rem;
            font-family: 'Open Sans', sans-serif;
            
        }
        .icon-target{
            width: 24px;
            height: 24px;
        }

        .btn{
            box-sizing: border-box;
            display: flex;
            justify-content: space-around;
        }
            .button{
                width: 94px;
                height: 32px;
                margin: 10px;
                border-radius: 10px;
                border: none;
                font-size: 0.8rem;
            }
            #btn_charge{
                background-color: #00C2FF;
            }
            #btn_reserve{
                background-color: #609C32;
            }
footer {
    margin-top: 30%;
    height: 15%;
    background-color: #F2F2F2;
    position: fixed;
    width: 100vw;
    z-index: 11;
    top: 73%;
    padding-top: 3%;
}

footer ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
}

/*Contador*/
#contador{
    height: 50vh;
}
.conteiner-countdown-loop {
    color: #333;
    text-align: center;
}

h2.countdown-loop {
    font-weight: normal;
}

li.countdown-loop {
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
}

li.countdown-loop span {
    display: block;
    font-size: 4.5rem;
}

.conteiner-countdown-loop {
    margin: 0 auto;
}


/*Loading*/
.visible{
    display:block;
}
.invisible{
    display:none;
}
.container{
    text-align: center;
    overflow: hidden;
}


/* MEDIA QUERIES */
@media (max-width: 700px){
    .box{
        width: 50%;
    }

    .box:nth-child(2n-1){
        background-color: inherit;
    }

    .box:nth-child(4n),.box:nth-child(4n-3) {
        background-color: rgba(0,0,0,0.5);
    }

}

@media (max-width: 420px){
    .box{
        width: 100%;
    }

    .box:nth-child(4n),.box:nth-child(4n-3){
        background-color: inherit;
    }

    .box:nth-child(2n-1){
        background-color:rgba(0,0,0,0.05);
    }

}

.loader4{
    position: relative;
    width: 150px;
    height: 44px;
    top: 45%;
    top: -webkit-calc(50% - 10px);
    top: calc(50% - 10px);
    left: 25%;
    left: -webkit-calc(50% - 75px);
    left: calc(50% - 75px);
    background-color: rgba(255,255,255,0.2);
    text-align: center;
}

.loader4:before{
    content: "";
    position: absolute;
    background-color: black;
    top: 0;
    left: 0;
    height: 44px;
    width: 0;
    z-index: 0;
    opacity: 1;
    -webkit-transform-origin:  100% 0;
    transform-origin:  100% 0 ;
    -webkit-animation: loader4 10s ease-in-out;
    animation: loader4 10s ease-in-out;
}

.loader4:after{
    content: "LOADING ...";
    color: #fff;
    font-weight: 200;
    font-size: 16px;
    position: absolute;
    width: 100%;
    height: 20px;
    line-height: 20px;
    left: 0;
    top: 0;
}

@-webkit-keyframes loader4{
    0%{width: 0;}
    70%{width: 100%; opacity: 1;}
    90%{opacity: 0; width: 100%;}
    100%{opacity: 0;width: 0;}
}

@keyframes loader4{
    0%{width: 0;}
    70%{width: 100%; opacity: 1;}
    90%{opacity: 0; width: 100%;}
    100%{opacity: 0;width: 0;}
}


/*Record*/

.record {
    height: 90vh;
    text-align: center;
}

.selectRecord {
    background: #c4c4c4;
    border: none;
    border-radius: 5px;
    width: 170px;
    height: 31px;
    text-align: center;
    margin-bottom: 10%;
    margin-top: 7%;
    text-decoration: none;
    font-family: "Roboto Light", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: black;

}

.selectRecord option {
    background-color: #333;
    border-radius: 5px;
    border: 2px solid #828282 !important;
    text-align: center !important;
    color: #F2F2F2;

}

.textRecord {
    text-align: center;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
    width: 86%;;
    padding: 2%;
    margin-left: 9%;
}
.textRecord h1 {
    font-weight: 600;
    line-height: 19px;
    color: #000000;
    font-size: 14px;
}
.textRecord p {
    color: #828282;
    font-size: 14px;
    padding: 0 1% 0 0;
    margin: 0;
}

table th {
    text-align: inherit;
    border-bottom: 2px solid black;
}
table {
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #828282;
    width: 86%;
    text-align: center;
    margin-left: 9%;
}

table td {
    padding:2%;
}


#contador {
    height: 100vh;
    font-size: 14px;
    justify-content: center;
    display: flex;
    padding: 20% 0;
}

#contador button {
    text-decoration: none;
    border: none;
}

#contador h1 {
    text-align: center;
}

#countDown {
    text-align: center;
    font-size: 20px;
    padding: 10%;
}

#end {
    text-align: center;
    font-size: 20px;
    border: none;
    border-radius: 25px;
    width: 80%;
    height: 30%;
    justify-content: center;
    display: block;
    padding: 8%;
    background:#24292E;
    color:white;
    position: absolute;
    margin-left: 6%;
    top: 15%;
}
