
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.form-control {
    width: 79%!important;
    border-radius: 4rem!important;
}

/* Dropdown */
.dropdown-submenu {
    position: relative;
  }
  
  .dropdown-submenu a::after {
    transform: rotate(-90deg);
    position: absolute;
    right: 6px;
    top: .8em;
  }
  
  .dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-left: .1rem;
    margin-right: .1rem;
  }

  .nav-link {
      color: white !important;
  }

  .navbarTogglerDemo01 {
      width: 20%;
  }


#containerMap{
    height: 100vh;
}

#map {
    height: 100%;
}

#loadCalculator{
    height: 20vh;
}

footer {
    margin-top: 30%;
    width: 100%;
    height: 15%;
    background-color: #F2F2F2;
}

footer ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
}

/*Contador*/
#contador{
    height: 50vh;
}
.conteiner-countdown-loop {
    color: #333;
    text-align: center;
}

h2.countdown-loop {
    font-weight: normal;
}

li.countdown-loop {
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
}

li.countdown-loop span {
    display: block;
    font-size: 4.5rem;
}

.conteiner-countdown-loop {
    margin: 0 auto;
}


/*Loading*/
.visible{
    display:block;
}
.invisible{
    display:none;
}
.container{
    text-align: center;
    overflow: hidden;
}


/* MEDIA QUERIES */
@media (max-width: 700px){
    .box{
        width: 50%;
    }

    .box:nth-child(2n-1){
        background-color: inherit;
    }

    .box:nth-child(4n),.box:nth-child(4n-3) {
        background-color: rgba(0,0,0,0.5);
    }

}

@media (max-width: 420px){
    .box{
        width: 100%;
    }

    .box:nth-child(4n),.box:nth-child(4n-3){
        background-color: inherit;
    }

    .box:nth-child(2n-1){
        background-color:rgba(0,0,0,0.05);
    }

}

.loader4{
    position: relative;
    width: 150px;
    height: 20px;
    top: 45%;
    top: -webkit-calc(50% - 10px);
    top: calc(50% - 10px);
    left: 25%;
    left: -webkit-calc(50% - 75px);
    left: calc(50% - 75px);
    background-color: rgba(255,255,255,0.2);
}

.loader4:before{
    content: "";
    position: absolute;
    background-color: black;
    top: 0;
    left: 0;
    height: 20px;
    width: 0;
    z-index: 0;
    opacity: 1;
    -webkit-transform-origin:  100% 0;
    transform-origin:  100% 0 ;
    -webkit-animation: loader4 10s ease-in-out;
    animation: loader4 10s ease-in-out;
}

.loader4:after{
    content: "LOADING ...";
    color: #fff;
    font-weight: 200;
    font-size: 16px;
    position: absolute;
    width: 100%;
    height: 20px;
    line-height: 20px;
    left: 0;
    top: 0;
}

@-webkit-keyframes loader4{
    0%{width: 0;}
    70%{width: 100%; opacity: 1;}
    90%{opacity: 0; width: 100%;}
    100%{opacity: 0;width: 0;}
}

@keyframes loader4{
    0%{width: 0;}
    70%{width: 100%; opacity: 1;}
    90%{opacity: 0; width: 100%;}
    100%{opacity: 0;width: 0;}
}
