
html, body {
    height: 100%;
    margin: 0;
    padding: 0;

}

.form-control {
    width: 55%!important;
    border-radius: 4rem!important;

}
#containerMap{
    height: 100vh;
}

#map {
    height: 100%;
}

#loadCalculator{
    height: 20vh;
}

/*Contador*/
#contador{
    height: 50vh;
}
.conteiner-countdown-loop {
    color: #333;
    text-align: center;
}

h2.countdown-loop {
    font-weight: normal;
}

li.countdown-loop {
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
}

li.countdown-loop span {
    display: block;
    font-size: 4.5rem;
}

.conteiner-countdown-loop {
    margin: 0 auto;
}



/* End carousel */

